$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

html, body {
    margin-bottom: 0;
	padding-bottom: 0;
	background-color: #f0f0f0;
	font: normal 13px Roboto,arial,sans-serif;
	height: 100%;
}

.ember-app{
	min-height: 110%;
	position:relative;	
}

#main{
	padding-bottom:100px;
	padding-top: 100px;
}

#footer{
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
}
