<div class="navbar navbar-primary navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Prix des Technologies Numériques</a>
	</div>
</div>
<div id="wrapper">
	<div id="main" class="container">
		{{outlet}}
	</div>
	<div id="footer" style="background-color:#FFF;">
		truc à propos du site
	</div>
</div>



