<div class="navbar navbar-primary navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">Prix des Technologies Numériques</a>
	</div>
</div>
<br/>
<br/>
<div class="container">
	<div class="row">
		{{outlet}}
	</div>
</div>
