<div>
	<input  id="startup-search" width="100%" type="text" class="form-control" placeholder="">
	<table class='table table-bordered table-hover'>
		<tr>
			<th></th>
			<th>Startup</th>
			<th>Adresse</th>
		</tr>
		<tr>
		{{#each item in model.startup}}
			<tr>
				<td><img width="70px" height="70px" {{bind-attr src=item.img}}></td>
				<td><a {{bind-attr href=item.url}}>{{item.name}}</a></td>
				<td>{{item.description}}</td>
			</tr>
		{{/each}}
		</tr>
	</table>
</div>
