<div class="jumbotron">
	<h1>Bienvenue!</h1>
	<p>
	Ce site est dédié aux membres du jury du <b>Prix des Technologies Numériques</b> 2015.<br>
	Vous trouverez la liste des startup que nous avons sélectionné pour l'édition 2015 sur le thême:<br> "sharing economy"
	</p>
	<p>{{#link-to "startups" class="btn btn-primary btn-lg"}}Voir la liste{{/link-to}}</p>
</div>

<br><br> 
<br><br>

<div class="well col-lg-12">
	<img class="col-lg-4"
		 src="http://prixtechnologiesnumeriques.org/wp-content/uploads/logo-ptn.png"/>
	<div class="col-lg-8">
		<div class="row">
			<blockquote>
			<p>
		"Depuis 1998, Télécom ParisTech et son association de diplômés, Télécom ParisTech alumni, récompensent les acteurs et projets ayant fortement marqué l’univers des technologies de l’information et contribué à leur évolution. Né d’une dynamique commune de Télécom ParisTech et de son association de diplômés, ce prix confirme son succès chaque année. Sa cérémonie s’inscrit comme l’un des rendez-vous majeurs du secteur puisqu’il rassemble près de 300 personnalités et décideurs."
			</p>
			<a 	href="http://prixtechnologiesnumeriques.org/" 
				class="btn btn-default" 
				target="_blank"
				style="margin-top:0">
					Site officiel
			</a>
			<a 	href="https://www.facebook.com/prixtechnologiesnumeriques"
				target="_blank">
					<img src="images/FB-f-Logo__blue_29.png"/>
			</a>
			</blockquote>
		</div>
		<div class="row">
			<div id="fb-root"></div>
			<div class="fb-like pull-right"
				 data-href="https://www.facebook.com/prixtechnologiesnumeriques"
				 data-layout="button_count" data-action="like"
				 data-show-faces="true" data-share="true">
	 		</div>
		</div>
	</div>
</div>
