<h2>Bienvenue!<br/>
<small>Ce site est dédié aux membres du jury du <b>Prix des Technologies Numériques</b> 2015</small></h2>

Vous trouverez la liste des startup que nous avons sélectionné pour l'édition 2015 sur le thême: "sharing economy"
<br/>
{{#link-to "startups" class="btn btn-primary"}}Voir la liste{{/link-to}}

<br/><br/> 
<br/><br/> 
Plus d'information sur le Prix des Technologies Numériques:<br/>
<a href="http://prixtechnologiesnumeriques.org/" target="_blank">Site officiel</a><br/>
<a href="https://www.facebook.com/prixtechnologiesnumeriques" target="_blank">Page Facebook</a>
